.App {
  text-align: center;
  max-width: 1000px;
  margin: 50px auto;
}

.card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: box-shdow 0.3s ease-in-out;
  height: auto;
}

.card.marked {
  border: 2px solid red;
}

.card img {
  width: 100%;
}

.card-img {
  display: flex;
  align-items: center;
  height: auto;
}

.list {
  display: flex;
  justify-content: space-between;
}

.head {
  padding-top: 10px;
}

.desc {
  padding-top: 10px;
  text-align: left;
}
